<div class="container">
    <div class="col-lg-12" class="designs">
      <h1>{{details?.title}}</h1>
      <h4>{{details?.tagline}}</h4>
      <img class='image' (click)='OnClick()' src={{details?.poster_path}} class='image'><br><br>
      <div>
        <label>
          <h6>Overview</h6>
        </label>
        <p>{{details?.overview}}</p>
      </div>
      <div>
        <label>
          <h6>Genres</h6>
        </label>
        <p *ngFor="let genre of details?.genres">{{genre?.name}}
        </p>
      </div>
      <div>
        <label>
          <h6>Release Date</h6>
        </label>
        <p>{{details?.release_date}}</p>
      </div>
      <div>
        <label>
          <h6>Runtime</h6>
        </label>
        <p>{{details?.runtime}} min</p>
      </div>
      <div>
        <label>
          <h6>Rating</h6>
        </label>
        <p>{{details?.vote_average}}</p>
      </div>
      <div>
        <label>
          <h6>Produced By</h6>
        </label>
        <p *ngFor="let item of details?.production_companies">
          {{item.name}}
        </p>
      </div>
    </div>
  </div>
  